*
    box-sizing border-box
body,html
    color #333
    font-size 16px
input,select,textarea,button
    outline none
    -webkit-tap-highlight-color #333

.mint-header
    &.com-header
        background #fff!important
        color #333!important
        height 50px
        border-bottom 1px solid #ddd
        .mint-header-title
            font-size 18px
        .mint-button-icon
            line-height 0.18rem
            .mintui-back
                font-size 20px
                color #F77583
                font-weight bold
