*
    box-sizing border-box
body,html
    color #333
    font-size 16px
input,select,textarea,button
    outline none
    -webkit-tap-highlight-color #333


.mint-header
    background #fff!important
    color #333!important
